body {
    background-color: #f5f4fa;
    color:#3f3939;
}
.title {
    text-align: center;
    color: #667395;
}

.new-form, .woofs {
    width: 50%;
    margin: 0 auto;
}

button.button-primary {
    background-color: #b5ccf1;
    border-color: #b5ccf1;
    font-size: 0.9em;
    /* color: #87434d; */
}

.loading {
    text-align: center;
}

.woofs {
    margin-top: 50px;
}